@charset "UTF-8";
body {
  background-color: #fffbf7 !important;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* Diseño para barra de navegacion*/
.navbar {
  text-align: center;
  color: #d5ecee;
  font-weight: 500;
  overflow: hidden;
  background-color: rgb(245, 233, 233);
}
.navbar li {
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
}

.actions {
  text-align: right;
  vertical-align: middle;
  font-size: 14px;
}
.actions > * {
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}
.actions a {
  color: #67b54b;
}
.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px 12px 14px;
  border: 0;
  border-radius: 5px;
}

/* Diseño para tarjetas perritos */
.top-features {
  padding: 30px 0 65px;
  margin-top: 150px;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}
.section-title h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-weight: 700;
}
.section-title p {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.feature__cont p {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  text-align: justify;
}

.feature__img img {
  width: 100%;
}

.feature__title__anchor {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 24px;
}
.feature__title__anchor .feature__title {
  margin-top: 50px;
  font-weight: 500;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 35px;
  text-decoration: none;
  text-shadow: #4f863b 1px 1px 2px;
  transition: color 0.3s ease-in-out;
  transition: font-size 1s;
  /*Selector para activar la transición :hover*/
}
.feature__title__anchor .feature__title:hover {
  color: #67b54b;
  font-size: 21px;
}

/*Agrega Estilos Cohete*/
.espacio {
  margin: 0 auto;
  height: 130px;
  width: 230px;
  margin-bottom: 35px;
  margin-top: 50px;
  padding-top: 200px;
  padding-bottom: 400px;
}

.espacio .nave-contenedor {
  position: relative;
  height: 150px;
  width: 150px;
  margin-bottom: 65px;
}

.espacio .nave-contenedor .nave {
  position: absolute;
  height: 130px;
  width: 130px;
  animation-name: despegue, vuelo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.espacio .nave-contenedor .nave img {
  width: 130px;
}

/*@keyframes despegue {
  from {
    bottom: -270px;
  }
  to {
    bottom: 270px;
  }
}*/
/*@keyframes vuelo {
  0% {
    left: 0;
  }
  25% {
    left: -30px;
  }
  50% {
    left: -60px;
  }
  75% {
    left: -30px;
  }
  100% {
    left: 0px;
  }
}*/
@keyframes vuelo {
  0% {
    left: 0;
  }
  25% {
    right: 60px;
  }
  50% {
    right: 90px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: 0px;
  }
}
.flecha {
  margin: 0 auto;
  height: 130px;
  width: 130px;
  margin-bottom: 35px;
}
.flecha .flecha-contenedor {
  position: relative;
  height: 150px;
  width: 150px;
  margin-bottom: 65px;
  /* Estamos agregando la regla de descender y subir al punto inicial */
}
.flecha .flecha-contenedor .flecha-animada {
  position: absolute;
  animation-name: up-and-down, left-right;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  height: 130px;
  width: 130px;
}
.flecha .flecha-contenedor .flecha-animada img {
  width: 130px;
  transform: rotate(-90deg);
}
@keyframes left-right {
  from {
    left: -270px;
  }
  to {
    left: 270px;
  }
}
@keyframes up-and-down {
  0% {
    top: 0; /* Aquí inicia la animación */
  }
  25% {
    top: -30px; /* Este es el punto donde alcanza la mitad del límite de los 60px, moviéndose hacia abajo */
  }
  50% {
    top: -60px; /* Este es el punto donde alcanza el límite de los 60px */
  }
  75% {
    top: -30px; /* Este es el punto donde alcanza la mitad del límite de los 60px, moviéndose hacia arriba */
  }
  100% {
    top: 0; /* Aquí termina la animación, ubicando el elemento en el punto de inicio */
  }
}

/*# sourceMappingURL=aboutUS.css.map */
