body {
    background-image: linear-gradient(#FFFFFF, rgb(250, 187, 171));
}
h1 {
  color: rosybrown;
  text-align: center;
}
h2 {
  color: rgb(180, 83, 4);
  text-align: center;
}
h3 {
  color: rgb(128, 41, 113);
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 15px;
    }

button {
    color: #fff;
    background-color: #025157;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #05838b;
  height: 170px;
}

.header {
  margin: 40px 20px 0;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.logo > img {
  width: 15%;
  vertical-align: middle;
}

.navbar {
  width: 70%;
  height: 100%;
  text-align:center;
  color: #d5ecee;
  overflow: hidden;
}

.navbar li {
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
}

.actions {
  width: 15%;
  text-align: right;
  vertical-align: middle;
  font-size: 14px;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px 12px 14px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 285px;
  text-align: center;
}

.publish {
  /* container styles if any */
  margin-left: 30px;
  
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 38px;
  color: #4c797c;
}

.publish > p {
  font-size: 16px;
  color: #472e2e;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #05838b;
  margin-right: 18px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}



.TextAside{
  width: 70%;
  margin-right: 70px;
}

.TextAside h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  line-height: 38px;
  color: #44065cd8;
}

.TextAside p{
  font-size: 19px;
  color: #472e2e;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family:'Courier New', Courier, monospace;
  text-align: justify;
}

.TextAside button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px 12px 14px;
  border: 0;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.TextAside img {
  margin: 15px;
  vertical-align: middle;
}

.TextAside div {
  margin-top: 20px;
}

.comboPinterest{
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 0 0 10px;
  background-color: #fff; 
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: left;
  width: 50%;
}

.comboPinterest h4{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  line-height: 39px;
  color: #6e0483;
  margin: 15px;
}

.comboPinterest img{
  width: 100%;
}

.comboPinterest p {
  margin: 20px;
}

.biografia {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.contentPinterest {
  display: flex;
  width: 70%;
  margin: 20px auto;
  align-items: center;
  }

.contentPinterest img {
width: 5%;
}

.contentPinterest p {
  font-size: 19px;
  color: #1e1e1f;
  line-height: 1;
  margin: 0 0 0 20px;
  font-family:'Courier New', Courier, monospace;
}

.comboPinterest button {
  color: white;
  background-color: #67b54b;
  padding: 12px 14px 12px 14px;
  border: 0;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  background-color: #025157c2;
  }
  
  .features .feature-card {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 6px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .features .Item1-1{margin: 25px 0 0 25px;}
  .features .Item1-2{margin: 25px 25px 0 0;}
  .features .Item2-1{margin: 0 0 25px 25px;}
  .features .Item2-2{margin: 0 25px 25px 0;}

  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .features .feature-card .feature-content img {
    width: 300px;
  }

  .features .feature-card .feature-content h3 {
    font-size: 22px;
    color: #0d7e8d;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #575656;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }

  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -30px;
    height: 60%;
  }

  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
  }


  /*Lineas para estilo de grids 1-2, 2-1, 2-2*/
  .features .feature-card .feature-content li {
    font-size: 14px;
    color: #4d045f;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .features .feature-card .feature-imageItem1-2{
    flex: 1;
    height: 50%;
  }

  .features .feature-card .feature-imageItem2-1 {
    flex: 1;
    width: 70%;
    position: relative;
    height: 70%;
  }

  .features .feature-card .feature-imageItem2-1 figure,
  .features .feature-card .feature-imageItem2-1 img {
  margin-top: 0;
  height: 100%;
  }

  .features .feature-card .feature-content .moreLinks a {
    font-size: 16px;
    color: #2f3179;
    font-weight: 600;
  }

  .features .Item2-2  {
    background-image: url(https://acortar.link/hQaI6F);
    background-size: 500px 400px;
    background-position: 280px;
    background-repeat: no-repeat;
  }


  

  

  


  
